body {
  background: #eee;
  font-family: sans-serif;
  font-size: 15px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px; 
}

.title,
.content,
.button-container {
  padding: 9px;
  margin: 12px 0px 12px 0px;
}

.title {
  background: #e3f4ff;
  margin-top: -1px;
  font-size: 15px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  display: block;
  margin-bottom: 0;
  text-align: center;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 6px 12px;
  margin: 0 auto;
}