.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.left-links > ul,
.right-links > ul {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.left-links {
  margin-left: 10px;
}

.right-links {
  margin-right: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}
